body {
  background-color: #EFEFEF;
  font-family: Verdana;
  padding: 0 15%;
}
header, footer {
  margin: 0.5em;
  padding: 0.1em;
  background-color: #A8DADC;
}
main {
  margin: 0.5em;
  padding: 0;
}
section {
  background-color: #A8DADC;
  padding: 5px 5px;
  margin: 0;
}
article {
  background-color: #F1FAEE;
  margin: 0.3em;
  padding: 3px 10px;
}
.header {
  margin: 5px;
  color: #1D3557;
}
p, li {
  margin: 5px;
  color: #457B9D;
}
nav a {
  color: #E63946;
}
nav a:active {
  text-decoration: none;
}
nav a:hover {
  text-decoration-color: lime;
}