body {
  background-color: #efefef;
  font-family: Verdana;
}

.site-header {
  width: 60vw;
  margin: 10px auto;
  position: relative;
  background-color: #a8dadc;
  border: 1px solid #567b7c;
  border-radius: 20px;
  padding: 20px;
}
.site-header__icon {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.site-header__header {
  font: small-caps bold 2em/3em;
  color: #1d3557;
}
.site-header__link {
  display: inline-block;
  border: 1px dotted #266942;
  padding: 5px;
  border-radius: 10px;
  color: #457b9d;
}
.site-header__link:hover {
  text-decoration-color: lime;
}


.section {
  width: 60vw;
  margin: 10px auto;
  position: relative;
  background-color: #a8dadc;
  border: 1px solid #567b7c;
  border-radius: 20px;
  padding: 20px;
}
.article {
  background-color: #f1faee;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}
.article__header {
  margin-bottom: 10px;
  padding: 0;
  text-decoration: underline;
}
.article__content {
  margin: 0;
  color: #457b9d;
}
.article__unordered-list {
  margin: 0;
}
.article__unordered-list-element {
  padding-top: 2px;
  color: #457b9d;
  list-style: square;  
}


.site-footer {
  width: 60vw;
  margin: 10px auto;
  position: relative;
  background-color: #a8dadc;
  border: 1px solid #567b7c;
  border-radius: 20px;
  padding: 10px;
}
.site-footer__header {
  font: italic bolder 1.2em;
  color: #1d3557;
}