body {
  background-color: #efefef;
  font-family: Verdana;
}

.site-header {
  box-sizing: border-box;
  width: 60vw;
  margin: 10px auto;
  position: relative;
  background-color: #a8dadc;
  border: 1px solid #567b7c;
  border-radius: 20px;
  padding: 0 15px 15px 15px;
}
.site-header__header {
  font: small-caps bold 2em/3em;
  color: #1d3557;
}
.site-header__link {
  display: inline-block;
  border: 1px dotted #266942;
  padding: 5px;
  border-radius: 10px;
  color: #457b9d;
}
.site-header__link:hover {
  text-decoration-color: lime;
}


.section {
  box-sizing: border-box;
  width: 60vw;
  margin: 10px auto;
  position: relative;
  background-color: #a8dadc;
  border: 1px solid #567b7c;
  border-radius: 20px;
  padding: 0 15px;
}
.article {
  background-color: #f1faee;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  
}
.article__header {
  float: left;
  margin-right: 20px;
  padding: 0;
}
.article__header--other {
  width: 100px;
  text-align: center;
}
.article__content {
  text-indent: 2em;
  padding-top: 3px;
  color: #457b9d;
}
.article__unordered-list {
  margin: 0;
}
.article__unordered-list-element {
  padding-top: 2px;
  color: #457b9d;
  list-style: square;  
}


.site-footer {
  box-sizing: border-box;
  width: 60vw;
  margin: 10px auto;
  position: relative;
  background-color: #a8dadc;
  border: 1px solid #567b7c;
  border-radius: 20px;
  padding: 0 15px;
}
.site-footer__header {
  font: italic bolder 1.2em;
  color: #1d3557;
}